.faculties_list{
    width: 850px;
    margin-left: 120px;
    margin-right: 110px;
    text-align: justify;
    margin-top: 50px;
    font-size: 16px;
    border-left: 1px solid rgb(128, 14, 14);
    padding-left: 30px;
    

}
.faculties_list h2{
    text-decoration: underline;
}
.hod{
    border-bottom: 1px solid rgb(128, 14, 14);
}
