.mini_project_body{
    width: 1100px;
    margin-left: 170px;
    line-height: 23px;
    padding-left: 10px;
    padding-bottom:10px;
    
    border-left: 2px solid rgb(90, 7, 7);
    border-bottom: 2px solid rgb(90, 7, 7);
    

}
.mini_project_body h2{
    text-decoration: underline;
}
.Collapsible {
    background:rgb(248, 248, 241);
}
  
  
  
.Collapsible__contentInner {
    padding: 10px;
    border-left: 1px solid rgb(90, 7, 7);
    
    
  
}
.Collapsible__contentInner  p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
  
    
    }
  
  
  
.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration:seashell;
    color: grey;
    position: relative;
    border-bottom: 1px solid rgb(233, 228, 228);
    border-top: 1px solid rgb(233, 228, 228);
    
    padding: 12px;
    background: rgb(134, 9, 9);
    color: white;
    
  
} 
.Collapsible__trigger after {
      font-family: 'FontAwesome';
      content: '\f107';
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms;
      border-color: rgb(224, 233, 228);
    }
  
.is-open after{
       
    transform: rotateZ(180deg);
}
    
  
.is-disabled {
      opacity: 0.5;
      background-color: grey;
}

  
.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
    
    
}
  
.CustomTriggerCSS--open {
    background-color: darkslateblue;
}
  
.Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black;
}