.admin1{
    width: 850px;
    margin-left: 140px;
    margin-right: auto;
    text-align: justify;
    margin-top: 50px;
    font-size: 16px;
    border-left: 1px solid rgb(126, 8, 8);
    padding-left: 15px;
}